MachineTool/MachineTool/Service References/WcfServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTool_Details">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tool_Details" nillable="true" type="tns:Tool_Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTool_Details" nillable="true" type="tns:ArrayOfTool_Details" />
  <xs:complexType name="Tool_Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="tool_desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tool_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tool_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tool_size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tool_type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tool_Details" nillable="true" type="tns:Tool_Details" />
</xs:schema>